body {
    background-color: #0e1111;
}

#newForm {
    background-color: #232b2b;
}

.strongInfo {
    color: #b3b3b3;
}

#uploadFile {
    color: #b3b3b3;
}

#disk {
    color: #b3b3b3;
}

#plotText {
    background-color: #232b2b;
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
}

.text {
    color: #b3b3b3;
}
